#input{
    width: 400px;
    height: 60px;
}
#b1{
    height: 70px;
    width: 70px;
    font-size: 40px;
}
#b2{
    height: 70px;
    width: 70px;
    font-size: 40px;
}
#b3{
    height: 70px;
    width: 70px;
    font-size: 40px;
}
#b4{
    height: 70px;
    width: 70px;
    font-size: 40px;
}
#b5{
    height: 70px;
    width: 70px;
    font-size: 40px;
}
#b6{
    height: 70px;
    width: 70px;
    font-size: 40px;
}
#b7{
    height: 70px;
    width: 70px;
    font-size: 40px;
}
#b8{
    height: 70px;
    width: 70px;
    font-size: 40px;
}
#b9{
    height: 70px;
    width: 70px;
    font-size: 40px;
}
#b10{
    height: 70px;
    width: 70px;
    font-size: 40px;
}
#b11{
    height: 70px;
    width: 70px;
    font-size: 40px;
}
#b12{
    height: 70px;
    width: 70px;
    font-size: 40px;
}
#b13{
    height: 70px;
    width: 70px;
    font-size: 40px;
}
#b14{
    height: 70px;
    width: 70px;
    font-size: 40px;
}
#b15{
    height: 70px;
    width: 70px;
    font-size: 40px;
}
#b16{
    height: 70px;
    width: 70px;
    font-size: 40px;
}
#b17{
    height: 70px;
    width: 140px;
    font-size: 40px;
}
#b18{
    height: 70px;
    width: 70px;
    font-size: 40px;
}
#b21{
    height: 70px;
    width: 70px;
    font-size: 40px;
}
#b20{
    height: 70px;
    width: 70px;
    font-size: 40px;
}
